@import url("https://fonts.googleapis.com/css?family=Mukta:700");
body {
  font-size: 16px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  *::before, *::after {
    box-sizing: border-box; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: white; }

:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

ul, li {
  display: block; }

.display {
  width: 1200px;
  margin: 0 auto; }

.color_other {
  background-color: #242336; }

.header {
  height: 100vh;
  background-color: #242336; }
  .header_menu {
    display: flex; }
    .header_menu__logo canvas {
      border-radius: 100px;
      background-color: #07cf07;
      margin-right: 10px;
      margin-bottom: 3px; }
    .header_menu__logo span {
      font-size: 37px;
      color: #fff; }
    .header_menu__links {
      margin-left: auto; }
      .header_menu__links ul {
        margin-top: 17.5px; }
        .header_menu__links ul li {
          display: inline;
          overflow: hidden; }
          .header_menu__links ul li a {
            text-decoration: none;
            text-transform: uppercase;
            color: #fff;
            margin-right: 26px; }
    .header_menu__switch img {
      width: 54px; }
  .header h1 {
    text-align: center;
    color: #fff;
    font-size: 58px;
    margin-top: 60px; }
  .header_mainScreen {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr; }
    .header_mainScreen__left__form {
      width: 380px;
      display: flex;
      flex-direction: column;
      margin-top: 180px; }
      .header_mainScreen__left__form input {
        height: 57px;
        border: none;
        border-bottom: 2px solid #ebebeb;
        background-color: #242336;
        outline: none;
        margin-bottom: 10px;
        color: #fff; }
      .header_mainScreen__left__form textarea {
        height: 180px;
        border: none;
        border-bottom: 2px solid #e2e2e2;
        background-color: #242336;
        outline: none;
        margin-bottom: 20px;
        color: #fff;
        resize: vertical; }
      .header_mainScreen__left__form button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
        background-color: #fff;
        border-radius: 25px;
        min-width: 240px;
        min-height: 51px; }
        .header_mainScreen__left__form button.learn-more {
          width: 12rem;
          height: auto; }
          .header_mainScreen__left__form button.learn-more .circle {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: relative;
            display: block;
            margin: 0;
            width: 3rem;
            height: 3rem;
            background: #282936;
            border-radius: 1.625rem;
            margin-left: 1px; }
            .header_mainScreen__left__form button.learn-more .circle .icon {
              transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
              position: absolute;
              top: 0;
              bottom: 0;
              margin: auto;
              background: #fff; }
              .header_mainScreen__left__form button.learn-more .circle .icon.arrow {
                transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
                left: 0.625rem;
                width: 1.125rem;
                height: 0.125rem;
                background: none; }
                .header_mainScreen__left__form button.learn-more .circle .icon.arrow::before {
                  position: absolute;
                  content: '';
                  top: -0.25rem;
                  right: 0.0625rem;
                  width: 0.625rem;
                  height: 0.625rem;
                  border-top: 0.125rem solid #fff;
                  border-right: 0.125rem solid #fff;
                  transform: rotate(45deg); }
          .header_mainScreen__left__form button.learn-more .button-text {
            transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem 0;
            margin: 0 0 0 1.85rem;
            color: #282936;
            font-weight: 700;
            line-height: 1.6;
            text-align: center;
            text-transform: uppercase; }
        .header_mainScreen__left__form button:hover .circle {
          width: 99%; }
          .header_mainScreen__left__form button:hover .circle .icon.arrow {
            background: #fff;
            transform: translate(1rem, 0); }
        .header_mainScreen__left__form button:hover .button-text {
          color: #fff; }
    .header_mainScreen img {
      display: flex;
      margin-left: auto; }

.about__h2 {
  width: 120px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #6FB6FE 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%, #6FB6FE 100%); }
  .about__h2 h2 {
    font-size: 30px;
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-top: 71px; }
